.all-stuff {
    height: 95vh;
    width: 95vw; /*not %*/
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: rgb(0, 88, 0);
    font: 1.2rem 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: auto;
}

header {
    display: flex;
    justify-content: space-around;
    width: 512px;
}

button {
    color: white;
    background-color: #4CAF50; /* Green */
    border: none;
    outline: none;
    text-align: center;
    font-size: 1.1rem;
    border-radius: 10px;
    padding: 10px 20px;
    height: 50%;
    align-self: center;
}

button:hover {
    background-color: rgb(0, 116, 0);
}

button:active {
    background-color: #3e8e41;
    box-shadow: 0 2px #666;
}

@media(max-width: 550px){
    h1 {
        font-size: 5vw;
    }
    main, header {
        width: 90%;
    }
    canvas {
        width: 100%;
    }
    button {
        padding:1%;
        height:60%;
        font-size: 4vw;
        border-radius: 5px;
    }
}